<p-table [columns]="cols" [value]="virtualDebtors" [rows]="perPage" [scrollable]="true" scrollHeight="300px"
         [resizableColumns]="true" [virtualScroll]="true"
         (onLazyLoad)="loadDataOnScroll($event)" [lazy]="true"
         [totalRecords]="totalRecords" [virtualRowHeight]="34">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="col.width">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn>
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-debtor let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" class="ui-resizable-column">
        {{debtor[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns="columns">
    <tr style="height:34px">
      <td *ngFor="let col of columns" [style.width]="col.width">
        <div class="loading-text">loading...</div>
      </td>
    </tr>
  </ng-template>
</p-table>
