<div class="parent-panel">
  <div class="side-panel">
    LEFT PANEL
  </div>
  <div class="main-panel">
    <app-menu></app-menu>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus massa, dignissim eget aliquam eu, consequat
      quis
      lacus. Donec vulputate ut risus ac venenatis. In et velit non tortor commodo finibus. Aliquam a orci varius,
      ornare
      dui vel, laoreet metus. Fusce faucibus, eros nec viverra maximus, tellus ante elementum nulla, id rhoncus orci leo
      at turpis. Curabitur nulla nulla, bibendum quis facilisis a, blandit eget orci. Donec augue nibh, vestibulum at
      volutpat sed, imperdiet et nisi. In id mi in massa facilisis fermentum. Nullam ac porttitor tellus, ultrices
      vulputate ligula. Duis ac lorem feugiat, vulputate elit sed, imperdiet libero. Curabitur rhoncus enim vitae turpis
      egestas dapibus. Aenean porta, erat sed blandit bibendum, erat nibh tempor diam, in convallis odio neque sit amet
      leo. Vivamus aliquet magna ac sollicitudin cursus.
    </p>
    <router-outlet></router-outlet>
    <p>
      Sed euismod tempor arcu nec interdum. Mauris at commodo enim. Vivamus eget eros tristique, condimentum nulla
      sagittis, blandit dolor. Integer nec commodo ex. Sed pellentesque accumsan urna, at bibendum augue fringilla sed.
      Suspendisse nec enim mattis, egestas risus id, aliquam ante. Integer vitae sapien at libero laoreet ullamcorper eu
      efficitur lorem. Donec eu fringilla lacus, at hendrerit urna. Vestibulum pretium elit eros, a dignissim libero
      posuere nec. Aliquam ac neque scelerisque, ornare tellus euismod, feugiat ligula.
    </p>
  </div>
  <div class="side-panel">
    RIGHT PANEL
  </div>
</div>
